@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Roboto;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
.spollers {
  display: grid;
  gap: 16px
}
.spollers__item {
  font-size: 1.25rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 72px -4px red;
  border: 1px solid #e81010
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: 1.25rem 1.5rem;
  background: rgba(255,255,255,.1);
  position: relative;
  list-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 150%
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 24px;
  top: 18.5px;
  width: 2rem;
  height: 2rem;
  background: url(../img/Plus.svg) center center/cover no-repeat;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.spollers__body {
  padding: 1.25rem 1.5rem;
  border: 1px solid #e81010;
  background: rgba(255,255,255,.1)
}
.tabs__navigation {
  display: flex
}
.tabs__title {
  flex: 0 1 27.375rem;
  padding: 1rem 1.375rem;
  transition: all .3s;
  border: 1px solid transparent;
  cursor: pointer
}
.tabs__title._tab-active {
  border: 1px solid rgba(242,12,12,.3);
  background-color: rgba(12,112,242,.1);
  border-radius: 10px
}
.tabs__header {
  font-weight: 700;
  line-height: 140%
}
.tabs__header:not(:last-child) {
  margin-bottom: .25rem
}
.tabs__text {
  line-height: 150%
}
.body-tabs {
  display: flex;
  align-items: center
}
.body-tabs__pic {
  flex: 0 1 40%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 72px -4px red
}
.body-tabs__text {
  flex: 0 1 60%
}
.body-tabs__title {
  font-weight: 700;
  line-height: 120%
}
.body-tabs__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.body-tabs__description {
  font-size: 1.125rem;
  line-height: 150%
}
.body-tabs__description:not(:last-child) {
  margin-bottom: 1.25rem
}
.body-tabs__list {
  display: flex;
  flex-direction: column;
  row-gap: .625rem
}
.body-tabs__list:not(:last-child) {
  margin-bottom: 1.25rem
}
.body-tabs__items {
  display: flex;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  align-items: center;
  line-height: 150%
}
.body-tabs__items span span {
  color: #e81010;
  font-weight: 700
}
.body-tabs__items::before {
  content: "";
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e81010
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2
}
.header._header-scroll {
  position: fixed;
  top: -200%
}
.header._header-show {
  transition: top .3s;
  top: 0
}
.header._header-show .header__logo img {
  width: 130px
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.header::after {
  content: "";
  display: block;
  width: 100%;
  height: .125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(270deg,rgba(0,109,255,0) 0,rgba(0,109,255,.2) 21.48%,rgba(154,197,255,.8) 49.72%,rgba(0,109,255,.2) 76.99%,rgba(0,109,255,0) 100%)
}
.menu {
  display: flex;
  align-items: center
}
.menu__body {
  display: flex
}
.menu__list {
  display: flex;
  align-items: center
}
.menu__link {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s;
  position: relative
}
.menu__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: all .3s
}
.button {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: red;
  box-shadow: 0 0 72px -4px red;
  border-radius: 15px;
  -webkit-animation: 2s scale linear infinite;
  animation: 2s scale linear infinite
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
.footer {
  background-color: #000
}
.footer__container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}
.footer__row {
  display: flex;
  align-items: center;
  gap: 40px
}
.footer__text {
  flex: 1 0 50%
}
.footer__logo {
  margin-bottom: 1.25rem
}
.footer__logo img {
  width: 200px
}
.footer__menu {
  flex: 1 0 50%
}
.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px
}
.footer__links {
  text-align: center
}
.footer__link img {
  height: 3.125rem
}
.footer__disclaimer {
  text-align: center
}
.main {
  background: url(../img/bg.webp) center/cover no-repeat;
  position: relative;
  z-index: 1
}
.main::after {
  content: "";
  display: block;
  width: 100%;
  height: .125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(270deg,rgba(0,109,255,0) 0,rgba(0,109,255,.2) 21.48%,rgba(154,197,255,.8) 49.72%,rgba(0,109,255,.2) 76.99%,rgba(0,109,255,0) 100%)
}
.main__container {
  display: flex;
  gap: 40px;
  align-items: center
}
.main__text {
  flex: 0 1 50%
}
.main__title {
  font-weight: 700;
  margin-bottom: 1.25rem
}
.main__description {
  margin-bottom: 1.25rem
}
.main__pic {
  flex: 0 1 50%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 72px -4px red
}
.new-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 100%
}
.new-offer__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #545d75;
  padding: 16px;
  background: #1b1b1b
}
.new-offer__head {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%
}
.new-offer__heading {
  display: flex;
  gap: 20px;
  align-items: center
}
.new-offer__img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  overflow: hidden
}
.new-offer__heading-wrap {
  display: flex;
  flex-direction: column
}
.new-offer__title {
  font-size: 16px;
  font-weight: 600
}
.new-offer__desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  color: #34b601!important
}
.new-offer__button {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: 9px;
  color: var(--white-color);
  font-size: 8pt;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all .3s;
  padding: 10px 20px;
  background-color: red
}
.new-offer__kof {
  width: 100%
}
.new-offer__kof-list {
  display: flex;
  justify-content: space-between
}
.new-offer__kof-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%
}
.new-offer__kof-title {
  font-size: 12px;
  line-height: 200%;
  white-space: nowrap
}
.new-offer__kof-button {
  background: linear-gradient(180deg,#fff 0,#c9cddc 100%);
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: .3s all ease-in-out;
  font-weight: 600;
  font-size: 16px;
  line-height: 144%;
  color: #000
}
.left-text {
  background-color: #000;
  position: relative;
  z-index: 1
}
.left-text::after {
  content: "";
  display: block;
  width: 100%;
  height: .125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(270deg,rgba(0,109,255,0) 0,rgba(0,109,255,.2) 21.48%,rgba(154,197,255,.8) 49.72%,rgba(0,109,255,.2) 76.99%,rgba(0,109,255,0) 100%)
}
.left-text__container {
  display: flex;
  gap: 40px;
  align-items: center
}
.left-text__text {
  flex: 0 1 50%
}
.left-text__pic {
  flex: 0 1 50%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 72px -4px red
}
.right-text {
  background-color: #000;
  position: relative;
  z-index: 1
}
.right-text::after {
  content: "";
  display: block;
  width: 100%;
  height: .125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(270deg,rgba(0,109,255,0) 0,rgba(0,109,255,.2) 21.48%,rgba(154,197,255,.8) 49.72%,rgba(0,109,255,.2) 76.99%,rgba(0,109,255,0) 100%)
}
.right-text__container {
  display: flex;
  gap: 40px;
  align-items: center
}
.right-text__text {
  flex: 0 1 50%
}
.right-text__pic {
  flex: 0 1 50%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 72px -4px red
}
.page__kof {
  background-color: #000;
  position: relative;
  z-index: 1
}
.page__kof::after {
  content: "";
  display: block;
  width: 100%;
  height: .125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(270deg,rgba(0,109,255,0) 0,rgba(0,109,255,.2) 21.48%,rgba(154,197,255,.8) 49.72%,rgba(0,109,255,.2) 76.99%,rgba(0,109,255,0) 100%)
}
.tabs-block__title {
  font-weight: 700;
  text-align: center
}
.tabs-block__title:not(:last-child) {
  margin-bottom: 1.875rem
}
.tabs-block__text:not(:last-child) {
  margin-bottom: 3.125rem
}
.faq {
  background-color: #000;
  position: relative;
  z-index: 1
}
.faq::after {
  content: "";
  display: block;
  width: 100%;
  height: .125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(270deg,rgba(0,109,255,0) 0,rgba(0,109,255,.2) 21.48%,rgba(154,197,255,.8) 49.72%,rgba(0,109,255,.2) 76.99%,rgba(0,109,255,0) 100%)
}
.faq__container {
  display: flex
}
.faq__text {
  flex: 0 1 31.25rem;
  font-weight: 700
}
.faq__text:not(:last-child) {
  flex: 1 1 auto;
  margin-bottom: 1.875rem
}
.faq__title {
  font-weight: 700;
  line-height: 120%
}
.faq__title:not(:last-child) {
  margin-bottom: 1.5rem
}
.faq__description {
  font-size: 16px
}
.spollers {
  flex: 0 1 45.75rem
}
@media (min-width:75em) {
  .tabs__navigation:not(:last-child) {
    margin-bottom: 4rem
  }
  .tabs__header {
    font-size: 1.25rem
  }
  .body-tabs__title {
    font-size: 2.25rem
  }
  .header__logo img {
    width: 12.5rem
  }
  .menu {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .button {
    padding-left: 2.5rem
  }
  .button {
    padding-right: 2.5rem
  }
  .button {
    padding-top: .9375rem
  }
  .button {
    padding-bottom: .9375rem
  }
  .main__container {
    padding-top: 13.4375rem
  }
  .main__container {
    padding-bottom: 6.25rem
  }
  .main__title {
    font-size: 2.5rem
  }
  .left-text__container {
    padding-top: 6.25rem
  }
  .left-text__container {
    padding-bottom: 6.25rem
  }
  .right-text__container {
    padding-top: 6.25rem
  }
  .right-text__container {
    padding-bottom: 6.25rem
  }
  .tabs-block__container {
    padding-top: 6.25rem
  }
  .tabs-block__container {
    padding-bottom: 6.25rem
  }
  .tabs-block__title {
    font-size: 2.5rem
  }
  .faq__container {
    padding-top: 6.25rem
  }
  .faq__container {
    padding-bottom: 6.25rem
  }
  .faq__container {
    gap: 2.5rem
  }
  .faq__text {
    font-size: 2.5rem
  }
  .faq__title {
    font-size: 3rem
  }
}
@media (min-width:82em) {
  .body-tabs {
    -webkit-column-gap: 5rem;
    -moz-column-gap: 5rem;
    column-gap: 5rem
  }
}
@media (max-width:20em) {
  .tabs__navigation:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .tabs__header {
    font-size: 1rem
  }
  .body-tabs__title {
    font-size: 1.5rem
  }
  .header__logo img {
    width: 6.25rem
  }
  .menu {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .menu__list {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .button {
    padding-left: .625rem
  }
  .button {
    padding-right: .625rem
  }
  .button {
    padding-top: .3125rem
  }
  .button {
    padding-bottom: .3125rem
  }
  .main__container {
    padding-top: 5rem
  }
  .main__container {
    padding-bottom: 2.5rem
  }
  .main__title {
    font-size: 1.5rem
  }
  .left-text__container {
    padding-top: 2.5rem
  }
  .left-text__container {
    padding-bottom: 2.5rem
  }
  .right-text__container {
    padding-top: 2.5rem
  }
  .right-text__container {
    padding-bottom: 2.5rem
  }
  .tabs-block__container {
    padding-top: 2.5rem
  }
  .tabs-block__container {
    padding-bottom: 2.5rem
  }
  .tabs-block__title {
    font-size: 1.5rem
  }
  .faq__container {
    padding-top: 2.5rem
  }
  .faq__container {
    padding-bottom: 2.5rem
  }
  .faq__container {
    gap: 1.25rem
  }
  .faq__text {
    font-size: 1.5rem
  }
  .faq__title {
    font-size: 1.875rem
  }
}
@media (max-width:61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: calc(100% - 74.14px);
    left: -100%;
    top: 74.14px;
    overflow: auto;
    padding: .9375rem;
    transition: left .3s;
    background-color: #000;
    z-index: 999
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 999
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 9999
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .tabs__navigation {
    flex-direction: column
  }
  .tabs__title {
    flex: 0 1 auto
  }
  .tabs__text {
    font-size: .875rem
  }
  .body-tabs {
    flex-direction: column;
    row-gap: 1.25rem
  }
  .menu__body {
    flex-direction: column;
    justify-content: center
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    row-gap: 40px
  }
  .menu__link {
    font-size: 24px
  }
  .main__container {
    flex-direction: column
  }
  .left-text__container {
    flex-direction: column
  }
  .right-text__container {
    flex-direction: column-reverse
  }
}
@media (max-width:61.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em) {
  .body-tabs {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .footer__row {
    flex-direction: column
  }
  .footer__text {
    text-align: center
  }
  .faq__container {
    flex-direction: column
  }
  .spollers {
    flex: 0 1 auto
  }
}
@media (min-width:20em)and (max-width:75em) {
  .tabs__navigation:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.25rem + 5vw ,4rem)
  }
  .tabs__header {
    font-size: clamp(1rem ,.9090909091rem + .4545454545vw ,1.25rem)
  }
  .body-tabs__title {
    font-size: clamp(1.5rem ,1.2272727273rem + 1.3636363636vw ,2.25rem)
  }
  .header__logo img {
    width: clamp(6.25rem ,3.9772727273rem + 11.3636363636vw ,12.5rem)
  }
  .menu {
    -webkit-column-gap: clamp(1.25rem ,.7954545455rem + 2.2727272727vw ,2.5rem);
    -moz-column-gap: clamp(1.25rem ,.7954545455rem + 2.2727272727vw ,2.5rem);
    column-gap: clamp(1.25rem ,.7954545455rem + 2.2727272727vw ,2.5rem)
  }
  .menu__list {
    -webkit-column-gap: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem);
    -moz-column-gap: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem);
    column-gap: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem)
  }
  .button {
    padding-left: clamp(.625rem ,-.0568181818rem + 3.4090909091vw ,2.5rem)
  }
  .button {
    padding-right: clamp(.625rem ,-.0568181818rem + 3.4090909091vw ,2.5rem)
  }
  .button {
    padding-top: clamp(.3125rem ,.0852272727rem + 1.1363636364vw ,.9375rem)
  }
  .button {
    padding-bottom: clamp(.3125rem ,.0852272727rem + 1.1363636364vw ,.9375rem)
  }
  .main__container {
    padding-top: clamp(5rem ,1.9318181818rem + 15.3409090909vw ,13.4375rem)
  }
  .main__container {
    padding-bottom: clamp(2.5rem ,1.1363636364rem + 6.8181818182vw ,6.25rem)
  }
  .main__title {
    font-size: clamp(1.5rem ,1.1363636364rem + 1.8181818182vw ,2.5rem)
  }
  .left-text__container {
    padding-top: clamp(2.5rem ,1.1363636364rem + 6.8181818182vw ,6.25rem)
  }
  .left-text__container {
    padding-bottom: clamp(2.5rem ,1.1363636364rem + 6.8181818182vw ,6.25rem)
  }
  .right-text__container {
    padding-top: clamp(2.5rem ,1.1363636364rem + 6.8181818182vw ,6.25rem)
  }
  .right-text__container {
    padding-bottom: clamp(2.5rem ,1.1363636364rem + 6.8181818182vw ,6.25rem)
  }
  .tabs-block__container {
    padding-top: clamp(2.5rem ,1.1363636364rem + 6.8181818182vw ,6.25rem)
  }
  .tabs-block__container {
    padding-bottom: clamp(2.5rem ,1.1363636364rem + 6.8181818182vw ,6.25rem)
  }
  .tabs-block__title {
    font-size: clamp(1.5rem ,1.1363636364rem + 1.8181818182vw ,2.5rem)
  }
  .faq__container {
    padding-top: clamp(2.5rem ,1.1363636364rem + 6.8181818182vw ,6.25rem)
  }
  .faq__container {
    padding-bottom: clamp(2.5rem ,1.1363636364rem + 6.8181818182vw ,6.25rem)
  }
  .faq__container {
    gap: clamp(1.25rem ,.7954545455rem + 2.2727272727vw ,2.5rem)
  }
  .faq__text {
    font-size: clamp(1.5rem ,1.1363636364rem + 1.8181818182vw ,2.5rem)
  }
  .faq__title {
    font-size: clamp(1.875rem ,1.4659090909rem + 2.0454545455vw ,3rem)
  }
}
@media (min-width:47.99875em)and (max-width:82em) {
  .body-tabs {
    -webkit-column-gap: clamp(1.25rem ,-4.043785155rem + 11.0290062865vw ,5rem);
    -moz-column-gap: clamp(1.25rem ,-4.043785155rem + 11.0290062865vw ,5rem);
    column-gap: clamp(1.25rem ,-4.043785155rem + 11.0290062865vw ,5rem)
  }
}
@media (any-hover:hover) {
  .tabs__title:hover {
    box-shadow: 0 0 50px 10px rgba(242,23,23,.5);
    border: 1px solid rgba(12,112,242,.3);
    background-color: rgba(242,12,12,.1);
    border-radius: 10px
  }
  .menu__link:hover::after {
    width: 100%
  }
}